$primary-purple: #2e1065;
$secondary-purple: #452e75;
$accent-gold: rgb(255, 252, 217);
$text-light: #fdf7f0;
$text-dark: #000000;
$button-hover: #452e75;

.training {
  text-align: center;
  padding: 20px;
  background-color: #f6e9fc;

  &__heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: $primary-purple;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  &__card {
    background: $text-light;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }
  }

  &__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__card-content {
    padding: 1.5rem;
    text-align: left;
  }

  &__title {
    font-size: 1.5rem;
    color: $primary-purple;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1rem;
    color: $text-dark;
    margin-bottom: 1rem;
  }

  &__details {
    font-size: 0.9rem;
    color: $secondary-purple;
    margin-bottom: 1.5rem;

    .training__schedule {
      margin-bottom: 0.5rem;
    }
  }

  .ticket-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    button {
      background: $primary-purple;
      color: $text-light;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background: $button-hover;
      }
    }

    span {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  &__checkout {
    margin-top: 2rem;

    .total-amount {
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary-purple;
      margin-bottom: 1rem;
    }

    .checkout-button {
      background: $accent-gold;
      color: $primary-purple;
      padding: 0.7rem 2rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background: $button-hover;
        color: $text-light;
      }
    }
  }
}
