.admin-console {
  display: flex;
  flex-direction: row;
  margin: 5rem auto;
  padding: 2rem;
  max-width: 1200px;
  background-color: #fdf7f0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
  .admin-sidebar {
    width: 250px;
    background-color: #6aa5c7;
    color: #fdf7f0;
    padding: 30px;
    border-radius: 12px;
    position: sticky;
    top: 0;
    height: fit-content;

    h2 {
      margin-bottom: 20px;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        cursor: pointer;
        margin-bottom: 20px;
        padding: 15px;
        background-color: #7AB2D3;
        border-color: black;
        border-radius: 8px;
        font-size: 1.2rem;
        text-align: center;
        transition: all 0.3s ease;

        &:hover {
          background-color: #000000;
          color: #333;
          transform: scale(1.05);
        }

        &:active {
          transform: scale(1);
        }
      }
    }

    .content-header {
      margin-bottom: 20px;
      font-size: 1.8rem;
      font-weight: bold;
      color: #7AB2D3;
      border-color: #0000;
    }
  }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .admin-console {
    flex-direction: column;
    padding: 1rem;

    .admin-sidebar {
      width: 100%;
      margin-bottom: 2rem;
      text-align: center;

      ul {
        li {
          font-size: 1rem;
        }
      }
    }

    .admin-content {
      margin-left: 0;
    }
  }
}


