.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3e8ff; // White background
  padding: 1rem 2rem;
  color: #000000; // Black text color

  &__logo {
    display: flex;
    align-items: center;

    &-image {
      width: 150px; // Adjust size of the logo as needed
      height: 80px;
      margin-right: 1;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 10rem;
    color: #230063; // Black color for the title text
  }

  &__links {
    display: flex;
    gap: 3rem;

    .navbar__link {
      text-decoration: none;
      color: #000000; // Black color for the navigation links
      font-weight: 600;
      font-size:larger ;

      &:hover {
        color: #2e1065; // Dark purple on hover (optional)
      }
    }
  }

  &__hamburger {
    display: none;
    cursor: pointer;

    &-icon {
      font-size: 2rem;
      color: #2e1065; // Dark purple color for the icon
    }
  }

  @media (max-width: 768px) {
    &__hamburger {
      display: block;
    }

    &__links {
      display: none;
    }
  }


}
